body {
    background-color: #242424;
    font-family: 'VT323', monospace;
    color: #7f7f7f;
}
.header {
    text-align: center;
    font-size: 100px;
    border: dashed #7f7f7f 5px;
    padding-bottom: 15px;
}
.sub-header {
    text-align: center;
    font-size: 25px;
}
.main-window {
    text-align: center;
    border: dashed #7f7f7f 5px;
}
.game-window {
    text-align: center;
    border: dashed #7f7f7f 5px;
    font-size: 20px;
}