body {
    background-color: #242424;
    font-family: 'VT323', monospace;
    color: #a9a9a9;
}
.header {
    text-align: center;
    font-size: 100px;
    border: dashed #a9a9a9 5px;
    padding-bottom: 15px;
}
.sub-header {
    text-align: center;
    font-size: 25px;
}
.main-window {
    text-align: center;
    border: dashed #a9a9a9 5px;
    margin-top: 25px;
}